.listBox,.listBoxFlex{
  border-style: inset;
  border-width: 2px;
}
.listItemSelected,.listItemFlexSelected{
  color: white;
  background: darkblue;
}
.listItemDisabled,.listItemFlexDisabled{
  color: darkgray;
  background: lightgrey;
}

